'.source.js':
  'ngRoute':
    'prefix': 'ngroute'
    'body': """
      'use strict';

      angular
        .module('${1:module}')
        .config(route);

      function route($routeProvider) {
        $routeProvider
          .when('/${2:route}', {
              templateUrl: '${3:templateUrl}',
              controller: '${4:controller}Controller',
              controllerAs: 'vm',
              resolve: {
                  ${5:resolve}: ${5:resolve}
              }
          });
      }

      function ${5:resolve}() {
        ${6:innerFunction}
      }
    """
